.secondary {
  font-family: Castellar;
  font-size: small;
  color: darkgrey;
  font-variant: inherit;
}
.header {
  display: flex;
  justify-content: space-between;

  padding: 10px;
  background: linear-gradient(to bottom, #ff6699 0%, #cc0000 100%);
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}
.nav-bar > ul {
  list-style-type: none;
  display: flex;
}
.nav-bar > ul > li {
  padding: 10px;
}
.logo {
  width: 100px;
  border-radius: 30;
  border-color: aqua;
  border-style: groove;
}
.card {
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  margin: 10px auto 10px auto;
}
.card > img {
  width: 100%;
}
.restaurant_list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
img:hover {
  transform: scaleX(-1);
}

li:hover {
  background-color: orange;
  color: white;
}
